.boldtext {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar {
  height: 80px;
}

.navbar img {
  cursor: pointer;
}

.navbar .imgresponsive {
  display: none !important;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar ul li a {
  text-decoration: none;
  color: unset;
}

.navbar ul li a:hover {
  color: #556ee6;
}

.navbar .btn-group {
  display: none;
}

.navbar .btn-group i {
  font-size: 40px;
  color: black;
  margin-bottom: 10px;
}

.navbar .btn-group ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.navbar .btn-group ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageone .firstpage {
  background-color: #4c4f60;
  position: relative !important;
  left: 0;
  width: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pageone .firstpage .owl-carousel .owl-dots {
  display: none;
}

.pageone .firstpage .owl-carousel div img {
  height: 900px !important;
  width: 75%;
  opacity: 0.35;
}

.pageone .firstpage .container.search {
  margin-top: 200px;
  margin-bottom: 200px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 30px;
  top: 10%;
  z-index: 15;
}

.pageone .firstpage .container.search .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.pageone .firstpage .container.search .form button {
  height: 42px;
  margin-bottom: 0;
  background-color: #556ee6;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  border-radius: 0 7px 7px 0;
  width: 260px;
}

.pageone .firstpage .container.search .form .city,
.pageone .firstpage .container.search .form .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.pageone .firstpage .container.search .form .city option,
.pageone .firstpage .container.search .form .categories option {
  font-family: "Poppins", sans-serif;
}

.pageone .firstpage .container.search .form .city .boldtext,
.pageone .firstpage .container.search .form .categories .boldtext {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0;
  color: white !important;
}

.pageone .firstpage .container.search .form .city .select2-selection.select2-selection--single {
  border-radius: 10px 0 0 10px;
}

.pageone .firstpage .container.search .select2-selection.select2-selection--single {
  height: 42px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageone .firstpage .container.search .select2-selection.select2-selection--single .select2-selection__arrow {
  top: 8px !important;
}

.pageone .firstpage .container.search .searcharea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pageone .firstpage .container.search .searcharea .totaluserinfo {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.pageone .firstpage .container.search .searcharea .totaluserinfo i {
  color: #fff !important;
}

.pageone .firstpage .container.search .searcharea .totaluserinfo p {
  color: rgba(255, 255, 255, 0.8) !important;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}

.pageone .firstpage .container.search .searcharea .totaluserinfo p span {
  font-size: 16px;
  font-weight: 700;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
}

.pageone .firstpage .container.search .boldtext.vital {
  color: #556ee6;
  font-weight: 500;
}

.pageone .firstpage .container.search .boldtext {
  font-size: 40px;
  color: white;
}

.pagetwo {
  background-color: #ececf3;
  padding-top: 6rem;
  padding-bottom: 6rem;
  height: 615px;
  position: relative;
}

.pagetwo .img-absolute-top {
  position: absolute;
  width: 300px;
  top: -66px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
  left: -150px;
  opacity: 0.3;
}

.pagetwo .img-absolute-top img {
  max-height: 300px;
}

.pagetwo .firstpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 30px;
}

.pagetwo .firstpage .owl-carousel .carditem {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 275px;
  height: 285px;
}

.pagetwo .firstpage .owl-carousel .carditem .title {
  position: absolute;
  bottom: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 105px !important;
  left: 7%;
  width: 240px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 1.8rem 1.8rem;
  border-radius: 10px;
  -webkit-transition: 0.35s all ease-in-out;
  transition: 0.35s all ease-in-out;
}

.pagetwo .firstpage .owl-carousel .carditem .title .boldtext {
  font-size: 21px;
}

.pagetwo .firstpage .owl-carousel .carditem .title p {
  font-weight: 600;
}

.pagetwo .firstpage .owl-carousel .carditem .title p span {
  color: #556ee6 !important;
  font-weight: bolder;
}

.pagetwo .firstpage .owl-carousel .carditem a {
  background-color: #4c4f60;
  border-radius: 10px !important;
  overflow: hidden;
}

.pagetwo .firstpage .owl-carousel .carditem a img {
  opacity: 0.5;
  border-radius: 10px !important;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.35s all ease-in-out;
  transition: 0.35s all ease-in-out;
}

.pagetwo .firstpage .owl-carousel .carditem:hover {
  -webkit-transition: 0.35s all ease-in-out;
  transition: 0.35s all ease-in-out;
}

.pagetwo .firstpage .owl-carousel .carditem:hover .title {
  bottom: 30px;
}

.pagetwo .firstpage .owl-carousel .carditem:hover a {
  overflow: hidden;
}

.pagetwo .firstpage .owl-carousel .carditem:hover a img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.pagetwo .firstpage .owl-carousel .owl-nav {
  position: relative;
}

.pagetwo .firstpage .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: -5px;
  top: -100px;
}

.pagetwo .firstpage .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: -5px;
  top: -100px;
}

.pagetwo .firstpage .owl-carousel .owl-nav button {
  color: #556ee6 !important;
  margin-top: -1.65em;
  display: block;
  font-size: 1.3rem !important;
  line-height: 2em;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  text-align: center;
  background: #fff !important;
  border: 1px solid #e8ebf3 !important;
  z-index: 99;
  -webkit-box-shadow: 0 4px 15px rgba(67, 67, 67, 0.15);
          box-shadow: 0 4px 15px rgba(67, 67, 67, 0.15);
}

.pagetwo .firstpage .heading .recent {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
  color: #556ee6 !important;
}

.pagetwo .firstpage .heading .boldtext {
  font-size: 30px;
  font-weight: 500;
  opacity: 0.9;
  margin-bottom: 0;
}

@media only screen and (max-width: 2000px) {
  .firstpage .owl-carousel div img {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar .normalnav {
    display: none !important;
  }
  .searcharea .select2-selection__arrow {
    right: 30px !important;
  }
  .searcharea form {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important;
    gap: 30px !important;
  }
  .searcharea form .select2-selection.select2-selection--single,
  .searcharea form button {
    border-radius: 7px !important;
    width: 90% !important;
  }
  .responsivenavbar {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media only screen and (max-width: 768px) {
  .navbar .img {
    display: none !important;
  }
  .navbar .imgresponsive {
    display: block !important;
  }
}
/*# sourceMappingURL=index.css.map */