.badge-primary {
  color: #fff;
  background-color: #007bff !important;
}
.badge-secondary {
  color: #fff;
  background-color: #6c757d !important;
}
.badge-success {
  color: #fff;
  background-color: #28a745 !important;
}
.badge-danger {
  color: #fff;
  background-color: #dc3545 !important;
}
.badge-warning {
  color: #fff;
  background-color: #ffc107 !important;
}
.badge-info {
  color: #fff;
  background-color: #17a2b8 !important;
}
.badge-dark {
  background-color: #343a40 !important;
}
.badge-light {
  color: #212529;
  background-color: #f8f9fa;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #e8ebf3;
  border-bottom-width: 0px;
  border-left-width: 1px;
}
table.table-bordered.dataTable {
  border-right-width: 0;
}
table.dataTable.no-footer {
  border: 1px solid #e8ebf3 !important;
}
table.dataTable,
table.dataTable th,
table.dataTable td {
  box-sizing: content-box;
}
table.dataTable {
  width: 100%;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
}
table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: separate !important;
  border-spacing: 0;
}
.boldtext {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
* {
  user-select: none;
}
.navbar {
  height: 80px;
  img {
    cursor: pointer;
  }
  .imgresponsive {
    display: none !important;
  }
  ul {
    list-style: none;
    li {
      cursor: pointer;
      user-select: none;
      a {
        text-decoration: none;
        color: unset;
        &:hover {
          color: #556ee6;
        }
      }
    }
  }
  .btn-group {
    display: none;
    i {
      font-size: 40px;
      color: black;
      margin-bottom: 10px;
    }
    ul {
      // display: flex;
      flex-direction: column;
      align-items: center !important;
      li {
        a {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
.pagetwo {
  height: 187px !important;
  background: rgba(85, 110, 230, 0.9) url("/assets/banner2.jpg");
  .firstpage {
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    * {
      text-align: center;
    }
  }
}
.pagethree {
  background-color: #ececf3;

  padding-top: 3rem;
  padding-bottom: 3rem;
  .firstpage {
    .dashboardcard {
      background-color: white !important;
      border-radius: 8px;
      box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03) !important;
      border: 1px solid #eff2f7 !important;
    }
    .mydashboard {
      .dashboardcard {
        background-color: white !important;
        border-radius: 8px;
        box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03) !important;
        border: 1px solid #eff2f7 !important;
        .card-body {
          position: relative;
        }
        ul {
          .first {
            border-top: 1px solid #e8ebf3;
            border-bottom: 1px solid #e8ebf3;
          }
          li {
            border-bottom: 1px solid #e8ebf3;
            i {
              margin-right: 10px;
              color: #605e7e;
              margin-bottom: 0;
            }
            span {
              color: #605e7e;
            }
            padding: 17px;
          }
        }
        .background {
          position: absolute;
          width: 300px;
          top: -10px;
          z-index: 1;
          left: -157px;
          opacity: 0.7;
        }
        .card-title {
          padding: 25px;
          border-bottom: solid 1px gainsboro;
          margin-top: 0;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
}
.pagenine {
  background-color: #2a3042;
  padding-top: 4rem;
  padding-bottom: 4rem;
  .firstpage {
    display: flex;
    flex-direction: row;
    align-items: center;
    .social i {
      list-style: none;
      font-size: 15px !important;
      width: 34px;
      height: 34px;
      margin: 1px;
      border-radius: 8px;
      border: 0px solid rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.1);
      line-height: 34px;
      text-align: center;
      &:hover {
        background-color: #556ee6 !important;
      }
    }
    .paymentsocial,
    .payment,
    .social,
    .categories,
    .resources,
    .company,
    .getintouch {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      a {
        &:hover {
          color: #556ee6 !important;
        }
      }
      i {
        font-size: 23px;
        color: darkgray;
      }
    }
    .boldtext.header {
      font-size: 20px !important;
      color: white;
      font-weight: 500;
    }
  }
}
@media only screen and (max-width: 2000px) {
}
@media only screen and (max-width: 1230px) {
  .navbar {
    height: 100px;
  }
}
@media only screen and (max-width: 1200px) {
  .navbar {
    height: 80px;
    .normalnav {
      display: none !important;
    }
  }

  .responsivenavbar {
    display: inline-flex !important;
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    .img {
      display: none !important;
    }
    .imgresponsive {
      display: block !important;
    }
  }
}
