.text-primary {
  color: #556ee6 !important;
}

.boldtext {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar {
  height: 80px;
}

.navbar img {
  cursor: pointer;
}

.navbar .imgresponsive {
  display: none !important;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar ul li a {
  text-decoration: none;
  color: unset;
}

.navbar ul li a:hover {
  color: #556ee6;
}

.navbar .btn-group {
  display: none;
}

.navbar .btn-group i {
  font-size: 40px;
  color: black;
  margin-bottom: 10px;
}

.navbar .btn-group ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.navbar .btn-group ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagetwo {
  padding-bottom: 50px;
  background: rgba(85, 110, 230, 0.9) url("/assets/banner2.jpg");
}

.pagetwo .firstpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
}

.pagetwo .firstpage .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.pagetwo .firstpage .form button {
  height: 42px;
  margin-bottom: 0;
  background-color: #556ee6;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  border-radius: 0 7px 7px 0;
  width: 260px;
}

.pagetwo .firstpage .form .city,
.pagetwo .firstpage .form .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.pagetwo .firstpage .form .city option,
.pagetwo .firstpage .form .categories option {
  font-family: "Poppins", sans-serif;
}

.pagetwo .firstpage .form .city .boldtext,
.pagetwo .firstpage .form .categories .boldtext {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0;
  color: white !important;
}

.pagetwo .firstpage .select2-selection.select2-selection--single {
  height: 42px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagetwo .firstpage .select2-selection.select2-selection--single .select2-selection__arrow {
  top: 8px !important;
}

.pagetwo .firstpage .searcharea {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pagetwo .firstpage .searcharea .totaluserinfo {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.pagetwo .firstpage .searcharea .totaluserinfo i {
  color: #fff !important;
}

.pagetwo .firstpage .searcharea .totaluserinfo p {
  color: rgba(255, 255, 255, 0.8) !important;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}

.pagetwo .firstpage .searcharea .totaluserinfo p span {
  font-size: 16px;
  font-weight: 700;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
}

.pagetwo .firstpage * {
  text-align: center;
}

.pagethree {
  background-color: #ececf3 !important;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pagefour {
  background-color: #ececf3 !important;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pagefour .firstpage .active p {
  background-color: white !important;
}

.pagefour .firstpage .reviewcard .rate {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.pagefour .firstpage .secondcard i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #f2f3f8;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  margin-right: 0.75rem !important;
}

.pagefour .firstpage .secondcard .datepicker-modal {
  max-height: 350px;
}

.pagefour .wideget-user-tab.wideget-user-tab3 .tabs-menu1 ul li:first-child p {
  margin-left: 0;
}

.pagefour .wideget-user-tab.wideget-user-tab3 .tabs-menu1 ul li .active {
  background: #fff;
}

.pagefour .wideget-user-tab.wideget-user-tab3 .tabs-menu1 ul li p {
  padding: 10px 20px 8px 20px;
  display: block;
  margin: 4px 4px 0 4px;
  margin-bottom: 0px;
  margin-left: 4px;
  border: 1px solid #e8ebf3;
  border-bottom-color: #e8ebf3;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background: #ddddea;
  border-radius: 5px 5px 0 0;
  margin-bottom: -1px;
  border-bottom: 0 !important;
}

.pagefour .wideget-user-tab .tab-menu-heading .nav li a {
  color: #495057;
  font-size: 15px;
  font-weight: 400;
}

.pagefour .wideget-user-tab .tab-menu-heading {
  padding: 0;
  border: 0;
  margin-top: 100px;
}

.pagefour .select2-container--default {
  width: 90% !important;
}

.pagefour .select2-container--default .select2-search--inline {
  display: none;
}

.pagefour .select2-selection--single {
  height: 45px !important;
  margin-top: 10px !important;
  padding: 5px 15px !important;
  background-color: white !important;
  border: solid 1px gainsboro !important;
  width: 100% !important;
  border-radius: 5px !important;
  border-right: none;
}

.pagefour .select2-selection--multiple {
  height: 45px !important;
  margin-top: 10px !important;
  padding: 5px 15px !important;
  background-color: white !important;
  border: solid 1px gainsboro !important;
  width: 100% !important;
  border-radius: 5px !important;
}

.pagefour .select2-selection--multiple .select2-selection__rendered {
  top: 5px !important;
}

.pagefour .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  background-color: unset;
}

.pagefour .product-tags a {
  float: left;
  margin: 4px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid #e8ebf3;
  color: unset !important;
}

.pagefour .icon-style-circle-lg {
  width: 2.3rem;
  height: 2.3rem;
  line-height: 2.3rem !important;
  border-radius: 7px;
  background: #ececf3;
  display: inline-block;
  margin: 0 auto;
  margin-right: 15px;
  margin-left: auto;
  text-align: center;
  font-size: 1rem;
}

.pagefour .font-weight-semibold {
  font-weight: 500 !important;
  font-family: "Poppins", sans-serif;
}

.pagefour .fs-13 {
  font-size: 13px !important;
  font-family: "Poppins", sans-serif;
}

.pagefour .font-weight-bold {
  font-weight: 700 !important;
  font-family: "Poppins", sans-serif;
  font-size: unset !important;
  margin-top: 0;
}

.pagefour .select2-selection__rendered {
  position: absolute;
  top: 18px;
  left: 5px;
}

.pagefour .select2-selection__arrow {
  top: 21px !important;
}

.pagefour .select2-search--dropdown {
  display: none !important;
}

.pagefour .formcard {
  background-color: white !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.1), 0 2px 9px 0 rgba(62, 57, 107, 0.1);
          box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.1), 0 2px 9px 0 rgba(62, 57, 107, 0.1);
  border-radius: 8px;
  padding: 30px;
}

.pagefour .formcard input,
.pagefour .formcard textarea {
  border: solid 1px gainsboro !important;
}

.pagefour .formcard .social-icon-style-circle-lg {
  width: 2.3rem;
  height: 2.3rem;
  line-height: 2.5rem !important;
  border-radius: 7px;
  background: #ececf3;
  background-color: #ececf3;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
}

.pagefour .formcard .bg-primary-transparent {
  background-color: rgba(85, 110, 230, 0.1);
}

.pagefour .formcard .text-primary {
  color: #556ee6 !important;
}

.pagenine {
  background-color: #2a3042;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pagenine .firstpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagenine .firstpage .social i {
  list-style: none;
  font-size: 15px !important;
  width: 34px;
  height: 34px;
  margin: 1px;
  border-radius: 8px;
  border: 0px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  line-height: 34px;
  text-align: center;
}

.pagenine .firstpage .social i:hover {
  background-color: #556ee6 !important;
}

.pagenine .firstpage .paymentsocial,
.pagenine .firstpage .payment,
.pagenine .firstpage .social,
.pagenine .firstpage .categories,
.pagenine .firstpage .resources,
.pagenine .firstpage .company,
.pagenine .firstpage .getintouch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.pagenine .firstpage .paymentsocial a:hover,
.pagenine .firstpage .payment a:hover,
.pagenine .firstpage .social a:hover,
.pagenine .firstpage .categories a:hover,
.pagenine .firstpage .resources a:hover,
.pagenine .firstpage .company a:hover,
.pagenine .firstpage .getintouch a:hover {
  color: #556ee6 !important;
}

.pagenine .firstpage .paymentsocial i,
.pagenine .firstpage .payment i,
.pagenine .firstpage .social i,
.pagenine .firstpage .categories i,
.pagenine .firstpage .resources i,
.pagenine .firstpage .company i,
.pagenine .firstpage .getintouch i {
  font-size: 23px;
  color: darkgray;
}

.pagenine .firstpage .boldtext.header {
  font-size: 20px !important;
  color: white;
  font-weight: 500;
}

@media only screen and (max-width: 1230px) {
  .navbar {
    height: 100px;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar {
    height: 80px;
  }
  .navbar .normalnav {
    display: none !important;
  }
  .searcharea .select2-selection__arrow {
    right: 30px !important;
  }
  .searcharea form {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important;
    gap: 30px !important;
  }
  .searcharea form .select2-selection.select2-selection--single,
  .searcharea form button {
    border-radius: 7px !important;
    width: 90% !important;
  }
  .responsivenavbar {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media only screen and (max-width: 768px) {
  .navbar .img {
    display: none !important;
  }
  .navbar .imgresponsive {
    display: block !important;
  }
}
/*# sourceMappingURL=property-details.css.map */